<!DOCTYPE html>
<html>
<head>
  <title>Exclusion Checker</title>
  <style>
        body {
          font-family: Arial, sans-serif;
        }
      table {
    border-collapse: collapse;
    width: 15%;
  }
  </style>
</head>
<body>
  <h1 >Upload Files:</h1>
  <h3>| Export Exclusions.csv from client site:<br>  <i>Admin > Site Settings > Integration > DealCloud Email Integration > Global Exclusions > Export</i></h3><br>
  <h3>| Supported file types:</h3>
  <table border="1" >
  <thead>
    <tr>
      <th>File</th>
      <th>File Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Exclusions</td>
      <td>.csv</td>
    </tr>
    <tr>
      <td>Outlok - Email</td>
      <td>.eml</td>
    </tr>
    <tr>
      <td>Outlook - Event</td>
      <td>.ics</td>
    </tr>
    <tr>
      <td>Graph Explorer</td>
      <td>.json</td>
    </tr>
  </tbody>
</table>
  <br><hr><br>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
    {% endif %}
  {% endwith %}
  <form method="POST" enctype="multipart/form-data">
    <label>Exclusions.csv: <input type="file" name="exclusions" required></label><br><br><br>
    <label>Outlook File: <input type="file" name="outlook" required></label><br><br><br>
    <input type="submit" value="Check for Global Exclusions">
  </form>
</body>
</html>
